[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox Developer Edition
Icon=/home/zealot/.local/share/umake/web/firefox-dev/browser/chrome/icons/default/default128.png
Exec=/home/zealot/.local/share/umake/bin/firefox-developer
TryExec=/home/zealot/.local/share/umake/bin/firefox-developer
Comment=Firefox Aurora with Developer tools
Categories=Development;IDE;
Terminal=false
StartupWMClass=Firefox Developer Edition
