[Desktop Entry]
Name=Qalculate Local!
Comment=Powerful and easy to use calculator
Exec=env GTK_THEME=Adwaita:dark qalculate.gtk
Icon=/snap/qalculate/current/meta/gui/qalculate.png
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Application;Utility;Calculator;Science;Math;Education;
