[Desktop Entry]
Version=1.0
Type=Application
Name=Rofi Prioritizer
Icon=/home/zealot/dotfiles/icons/prioritize.png
Exec=rofi -show Prioritizer -modi window,Prioritizer:/home/zealot/dotfiles/rofi/scripts/gnome-dock-change-0.rb
Comment=Rofi Prioritizer
Categories=Util;
Terminal=false
