[Desktop Entry]
Name=Android Mirroring
Exec=/usr/local/bin/scrcpy --max-size 200 --bit-rate 1M %U
Terminal=false
Type=Application
StartupWMClass=scrcpy
Icon=/home/zealot/dotfiles/icons/android.png
Comment=Display and control your Android device.
Categories=Network;Android;
