[Desktop Entry]
Name=Telegram Desktop Qt
Comment=Official desktop application for the Telegram messaging service
Exec=env QT_IM_MODULE=ibus /home/zealot/bin/Telegram/Telegram -- %u
Icon=telegram
Terminal=false
StartupWMClass=TelegramDesktop
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;
Keywords=tg;chat;im;messaging;messenger;sms;tdesktop;
X-GNOME-UsesNotifications=true
