# git update-index --assume-unchanged <list below>
# .gitconfig

.DS_Store
*.tar.gz
*.cache
*.res
*.bak
test.*
history
.goldendict/index/*
.goldendict/history
applications-config/grafana/png/*
applications-config/prometheus-testing.*

copyq/copyq*.bak
copyq/copyq-*bak.conf
copyq/copyq_tab_*.dat
copyq/copyq_no_session.ini

