[Desktop Entry]
Type=Application
Exec="/usr/bin/goldendict"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Goldendict
Name=Goldendict
Comment[en_US]=
Comment=
