[Unit]
Description=EH Openvpn
After=network.target

[Service]
User=root
Group=root
Type=simple
Environment=CONFIG_ARG="--config /home/zealot/.ssh/other-keys/eh-openvpn/openvpn-eh/client.ovpn"
Environment=STATUS_ARG="--status /etc/openvpn/openvpn-status.log 5"
ExecStart=/usr/sbin/openvpn $CONFIG_ARG $STATUS_ARG

[Install]
WantedBy=multi-user.target

