[Unit]
Description=EH Openvpn
After=network.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/sbin/openvpn /home/zealot/.ssh/other-keys/eh-openvpn/openvpn-eh/client.ovpn

[Install]
WantedBy=multi-user.target

