[Unit]
Description=Prometheus exporter for PostgreSQL server metrics.
After=network.target

[Service]
User=root
Type=simple
Environment=DATA_SOURCE_NAME="postgresql://zealot:@localhost:5432/zealot?sslmode=disable"
ExecStart=/home/zealot/go/src/github.com/wrouesnel/postgres_exporter/postgres_exporter --extend.query-path=/home/zealot/go/src/github.com/wrouesnel/postgres_exporter/queries.yaml

[Install]
WantedBy=multi-user.target

